<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>MLPredictDriverAttrition</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<div class="login">
  
  <form action="{{ url_for('predict_datapoint')}}" method="post">
   <h1>
       <legend>Predict Driver Attrition</legend>
   </h1>
   <div class="mb-3">
       <label class="form-label">Gender</label>
       <select class="form-control" name="Gender" placeholder="Enter you Gender" required>
           <option class="placeholder" selected disabled value="">Select your Gender</option>
           <option value="M">
               Male
           </option>
           <option value="F">
               Female
           </option>
       </select>
   </div>
   <div class="mb-3">
       <label class="form-label">MilitaryService</label>
       <select class="form-control" name="MilitaryService" placeholder="Enter MilliaryService" required>
           <option class="placeholder" selected disabled value="">Select MilliaryService</option>
           <option value="Y">
               Yes
           </option>
           <option value="N">
               No
           </option>
           
       </select>
   </div>
   <div class="mb-3">
       <label class="form-label">OperClass</label>
       <select class="form-control" name="OperClass"
           placeholder="Enter OperClass" required>
           <option class="placeholder" selected disabled value="">Select OperClass</option>
           <option value="R">
               R
           </option>
           <option value="E">
               E
           </option>
           
       </select>
   </div>
  
  
   <div class="mb-3">
       <label class="form-label">AGE</label>
       <input class="form-control" type="number" name="AGE"
           placeholder="Enter your AGE" min='18' max='100' />
   </div>
   <div class="mb-3">
       <label class="form-label">Workhrdy</label>
       <input class="form-control" type="number" name="Workhrdy" step="0.1"
           placeholder="Enter your Workhrdy" min='1' max='100' />
   </div>
   <div class="mb-3">
    <label class="form-label">TrfTime</label>
    <input class="form-control" type="number" name="TrfTime"
        placeholder="Enter your TrfTime" min='0' max='200' />
  </div>
   <div class="mb-3">
       <input class="btn btn-primary" type="submit" value="Predict Driver Attrition" required />
   </div>
</form>
<h2>
  THE  prediction is {{results}}
</h2>
<body>
</html>
